

<div class="container-fluid bg-dark text-light p-5">
  <div class="container bg-dark p-5">
    <h1 class="display-4"><%= @employee.first_name + " " + @employee.second_name%></h1>
    <hr>
    <p>
      <%= @employee.email %>
      |
      <%= @employee.phone %>
      |
      <%= @employee.vk %>
    </p>
    <%= link_to 'Edit', edit_employee_path(@employee), class:"btn btn-outline-light" %>
    <%= link_to 'Back', employees_path, class:"btn btn-outline-light"%>
  </div>
</div>
